<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="${basedir}/nlog-internal.log">

	<extensions>
		<add assembly="NLog.Database"/>
	</extensions>

	<targets>
		<target xsi:type="Database"
				name="errorDatabase"
				dbProvider="Npgsql.NpgsqlConnection, Npgsql"
				commandText="INSERT INTO public.&quot;Logs&quot; (&quot;Logged&quot;, &quot;Level&quot;, &quot;Message&quot;, &quot;Logger&quot;, &quot;Exception&quot;) 
				VALUES (@logged, @level, @message, @logger, @exception)">
			<parameter name="@logged" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@exception" layout="${exception:format=tostring}" />
		</target>
		
		 <target xsi:type="Database"
          name="requestDatabase"
          dbProvider="Npgsql.NpgsqlConnection, Npgsql"
          commandText="INSERT INTO public.&quot;RequestLogs&quot; 
		  (&quot;Timestamp&quot;, 
		  &quot;Method&quot;, 
		  &quot;Path&quot;, 
		  &quot;StatusCode&quot;,
		  &quot;DurationMs&quot;, 
		  &quot;UserId&quot;,
		  &quot;IpAddress&quot;,
		  &quot;UserAgent&quot;)
                       VALUES (@timestamp, @method, @path, @statusCode, @durationMs, @userId, @ipAddress, @userAgent)">
			<parameter name="@timestamp" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" dbType="DateTime" />
			<parameter name="@method" layout="${event-properties:item=Method}" />
			<parameter name="@path" layout="${event-properties:item=Path}" />
			<parameter name="@statusCode" layout="${event-properties:item=StatusCode}" dbType="Int32"/>
			<parameter name="@durationMs" layout="${event-properties:item=DurationMs}" dbType="Int64"/>
			<parameter name="@userId" layout="${event-properties:item=UserId}" />
			<parameter name="@ipAddress" layout="${event-properties:item=IpAddress}" />
			<parameter name="@userAgent" layout="${event-properties:item=UserAgent}" />
		  </target>

		<target xsi:type="Console" name="console" layout="${longdate} [${level}] ${message}" />
	</targets>

	<rules>
		<logger name="RequestLogging" minlevel="Info" writeTo="requestDatabase" final="true" />
		<logger name="*" minlevel="Info" writeTo="console" />
		<logger name="*" minlevel="Warn" writeTo="errorDatabase" />
	</rules>
</nlog>